<div class="container">
        <div class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
        	<div class="panel panel-default">
        		<div class="panel-heading">
			    		<h3 class="panel-title">Please sign up for Bootsnipp <small>It's free!</small></h3>
			 			</div>
			 			<div class="panel-body">
			    		<form role="form" action="/users/" method="post">
			    			<div class="row">
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
                      <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
			                <input d="first_name" class="form-control input-sm" type="text" name="first_name" iplaceholder="First Name">
			    					</div>
			    				</div>
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
			    						<input id="last_name" class="form-control input-sm" type="text" name="last_name" placeholder="Last Name">
			    					</div>
			    				</div>
			    			</div>

			    			<div class="form-group">
			    				<input id="email" class="form-control input-sm" type="email" name="email" placeholder="Email Address">
			    			</div>
                <div class="form-group">
			    				<input id="location" class="form-control input-sm" type="text" name="location" placeholder="Your Location">
                  <select name="state">
                    <option selected value="State"</option>
                    <option value="AK">AK</option>
                	  <option value="AL">AL</option>
                	  <option value="AR">AR</option>
                	  <option value="AZ">AZ</option>
                	  <option value="CA">CA</option>
                	  <option value="CO">CO</option>
                	  <option value="CT">CT</option>
                	  <option value="DC">DC</option>
                	  <option value="DE">DE</option>
                	  <option value="FL">FL</option>
                	  <option value="GA">GA</option>
                	  <option value="HI">HI</option>
                	  <option value="IA">IA</option>
                	  <option value="ID">ID</option>
                	  <option value="IL">IL</option>
                	  <option value="IN">IN</option>
                	  <option value="KS">KS</option>
                	  <option value="KY">KY</option>
                	  <option value="LA">LA</option>
                	  <option value="MA">MA</option>
                	  <option value="MD">MD</option>
                	  <option value="ME">ME</option>
                	  <option value="MI">MI</option>
                	  <option value="MN">MN</option>
                	  <option value="MO">MO</option>
                	  <option value="MS">MS</option>
                	  <option value="MT">MT</option>
                	  <option value="NC">NC</option>
                	  <option value="ND">ND</option>
                	  <option value="NE">NE</option>
                	  <option value="NH">NH</option>
                	  <option value="NJ">NJ</option>
                	  <option value="NM">NM</option>
                	  <option value="NV">NV</option>
                	  <option value="NY">NY</option>
                	  <option value="OH">OH</option>
                	  <option value="OK">OK</option>
                	  <option value="OR">OR</option>
                	  <option value="PA">PA</option>
                	  <option value="RI">RI</option>
                	  <option value="SC">SC</option>
                	  <option value="SD">SD</option>
                	  <option value="TN">TN</option>
                	  <option value="TX">TX</option>
                	  <option value="UT">UT</option>
                	  <option value="VA">VA</option>
                	  <option value="VT">VT</option>
                	  <option value="WA">WA</option>
                	  <option value="WI">WI</option>
                	  <option value="WV">WV</option>
                	  <option value="WY">WY</option>
                  </select>
			    			</div>

			    			<div class="row">
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
			    						<input id="password" class="form-control input-sm" type="password" name="password" placeholder="Password">
			    					</div>
			    				</div>
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
			    						<input id="password_confirmation" class="form-control input-sm" type="password" name="password_confirmation" placeholder="Confirm Password">
			    					</div>
			    				</div>
			    			</div>

			    			<input type="submit" value="Register" class="btn btn-info btn-block">

			    		</form>
			    	</div>
	    		</div>
    		</div>
    	</div>
    </div>
